.shake {
  animation: 300ms shake;
}

.slide-in {
  animation: 500ms slideDown;
}

.slide-out {
  animation: 500ms slideOut;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  25%{
    transform: translateY(8%);
  }
  50%{
    transform: translateY(-4%);
  }
  75%{
    transform: translateY(4%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-5%);
  }
  25%{
    transform: translateX(5%);
  }
  50%{
    transform: translateX(-5%);
  }
  75%{
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
