.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .modal {
    display: flex;
    background: $background-color;
    color: #fff;
    width: 80%;
    animation: 500ms slideDown;
    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
      }
      25%{
        transform: translateY(8%);
      }
      50%{
        transform: translateY(-4%);
      }
      75%{
        transform: translateY(4%);
      }
      100% {
        transform: translateY(0%);
      }
    }
  }
}

.album-modal {
  width: 100%;
  height: 100%;
  display: flex;
  .left {
    width: 275px;
    // margin: 40px;
    .detail-cover {
      width: 275px;
      height: 275px;
      background-position: center;
      background-size: cover;
    }
    .wrapper {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      .votes {
        display: flex;
        justify-content: flex-end;
        i {
          margin-left: 5px;
        }
      }
    }
    iframe {
      margin: 0 20px;
    }
  }
  .right {
    width: calc(100% - 275px);
    background: #181818;
  }
}


.form-modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 4;
}
