


.band-list,  {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  .band-item {
    width: calc(100% / 5 - 40px);
    margin: 20px;
    box-sizing: border-box;
    .cover {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bottom-section {
      display: flex;
      justify-content: space-between;
    }
  }

}

#lore-more-btn {
  width: 60%;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  margin: 30px auto;
  justify-content: center;
}
