


.band-list  {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  .band-item {
    width: calc(100% / 5 - 40px);
    margin: 20px;
    box-sizing: border-box;
    position: relative;
    .cover {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      &:hover::after {
        cursor: pointer;
        content: '\f164';
        font-family: FontAwesome;
        color: #fff;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        opacity: 0.9;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }
    }
    .bottom-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-color;
      background: #fff;
      height: 60px;
      padding: 0 10px;
      .band-name {
        max-width: 80%;
      }
      .votes {
        max-width: 20%;
      }
      &:hover {
        cursor: pointer;
        background: $secondary-color;
        .band-name {
          color: #fff;
        }
        .votes {
          color: #fff;
        }
      }
    }
  }
  .voted-for {
    .cover {
      &::after {
        content: '\f164';
        font-family: FontAwesome;
        color: darken($primary-color, 20%);
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        opacity: 0.9;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }
      &:hover::after {
        content: '\f165';
        background: $bad-color;
      }
    }
    .bottom-section {
      .votes {
        color: $primary-color;
      }
    }
  }
}

#lore-more-btn {
  width: 60%;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  margin: 30px auto;
  justify-content: center;
}
