.success-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
  i {
    color: $primary-color;
    font-size: 5rem;
  }
  h2 {
    color: $primary-color;
  }
  .user-email {
    margin: 0;
  }
}
