// $primary-color: #5AD195;
$primary-color: #2bba87;
$secondary-color: #00ffd9;

$header-color: #fff;
$header-color: #333;

$background-color: #fff;

$text-color: #333;

$action-color: #8700ff;
$unselected-color: #A8A7AC;
