@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "header";
@import "searchPage";

body {
  background-color: #333;
  // background-color: #38454e;
}

h1,h2,h3,h4 {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  outline: none;
}

button {
  background: $primary-color;
  border: none;
  color: #fff;
  &:hover {
    cursor: pointer;
    background: darken($primary-color, 10%);
  }
}
